<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Auction Website</h1>
   <p align="center"><a href=removeListing >
        <button class=grey style="height:75px;width:150px">Remove Listing</button>
     </a></p>
   <p align="center"><a href=addListing >
       <button class=grey style="height:75px;width:150px">Add Listing</button>
    </a></p>
   {% for auction_item in auction_items %}
   <p>{{ auction_item }} </p>
{% endfor %}
<form method="post">
    <label for="sort">Sort:</label>
        <select id="sort" name="sort">
                <option value="priceLowHigh">Price: Low to High</option>
                <option value="priceHighLow">Price: High to Low</option>
        </select>
        <button type="submit">Reload</button>
</form>
</body>
</html>